/* master-styles.css */

@font-face {
    font-family: 'FuturaCyrillicMedium';
    src: url('Fonts/FuturaCyrillicMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaCyrillicBook';
    src: url('Fonts/FuturaCyrillicBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html {
    font-family: 'FuturaCyrillicMedium', sans-serif;
    line-height: 1.3;
  }
 
body{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.container {
    width: 100%;
}

@media only screen and (min-width: 800px) {
    /* Desktop styles */

    body{
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .container {
        max-width: 1100px;
        margin: 0 auto; /* Center the container */
        padding: 0; /* No padding on desktop */
    }
}