/* Keep only specific NavBar styles */

/* Flexbox container */
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
    margin: 0;
  }
  
  /* Logo section */
  .nav-item.logo {
    margin-right: auto;
  }
  
  /* Navigation links section */
  .nav-item.nav-links ul {
    display: flex;
    gap: 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 0;
    margin: 0;
  }
  
  .logo {
    width: 44px;
    height: auto;
  }
  
  /* Responsive styles */
  @media only screen and (min-width: 800px) {
    /* NavBar specific responsive styles */
  
    /* Flexbox container */
    .nav-list {
      padding-bottom: 64px;
      margin: 0;
    }
  
    /* Logo section */
    .nav-item.logo {
      margin-right: auto;
    }
  
    /* Navigation links section */
    .nav-item.nav-links ul {
      gap: 1rem;
    }
  
    .logo {
      width: 44px;
      height: auto;
    }
  }
  