a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
  
  /* ----------------Footer------------------- */
  footer {
    padding-top: 40px;
    display: grid;         
    justify-content: center; 
  }
  
  .logo-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
  }
  
  .footer-logo {
    width: 42px;
  }
  
  .footer-links ul {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding-bottom: 16px;
  }
  
  .footer-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
  }
  
  .footer-bottom {
    text-align: center;
  }
  
  /* ----------------Desktop------------------- */
  @media only screen and (min-width: 800px) {
  
    /*------------------------footer-------------------*/
    footer {
        padding-top: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 64px;
        margin: 0;
    }
  
    .logo-bottom {
        justify-content: flex-start;
    }
  
    .footer-links ul {
        justify-content: center;
        align-items: center;
    }
  
    .footer-icons {
        justify-content: flex-end;
        padding-bottom: 16px;
    }
  
    .footer-logo {
        width: 40px;
        height: auto;
    }
  }
  