@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #6450c3;
  --white: #ffffff;
}

img {
  width: 100%;
}

/* Typography and Body Overrides */
p,
ol li {
  font-family: "urbanist", sans-serif;
  line-height: 1.5;
}

/* Header Styles */
h2,
h3,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: 400;
  color: var(--primary);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

/* Specific Layouts */
.overview-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.design-process-img-1,
.design-process-img-2,
.design-process-img-3 {
  max-width: 80%;
  align-items: left;
  padding-top: 1rem;
}

.digital-platform-preference,
.need-for-delivery-tracking,
.need-for-analytics-dashboard {
  text-align: center;
  margin-bottom: 1rem;
}

.digital-platform-preference h3,
.need-for-delivery-tracking h3,
.need-for-analytics-dashboard h3 {
  color: black;
}

.digital-platform-preference-img,
.need-for-delivery-tracking-img,
.need-for-analytics-dashboard-img {
  max-width: 70%;
  margin-top: 3rem;
}

.competitive-analysis-table-img {
  margin-top: 1.5rem;
}

/* Question Styles */
.question-1,
.question-2,
.question-3,
.question-4 {
  padding: 2rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--white);
}

.question {
  font-weight: bold;
}

.answer {
  padding-top: 1rem;
  font-style: italic;
}

/* Persona Styles */
.amita-persona-img,
.alex-persona-img {
  margin-top: 1rem;
}

.usability-testing-img-section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.usability-testing-img-section-2 {
  padding-left: 1rem;
  max-height: 100%;
}

.wireframes img {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 10px;
}


.usability-testing-finding{
  margin-top: 3rem;
}






/* Responsive Styles */
@media only screen and (min-width: 800px) {
  /* Container adjustment for MealMaster on desktop */
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .design-process-cols,
  .user-survey-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .digital-platform-preference,
  .need-for-delivery-tracking,
  .need-for-analytics-dashboard {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .question-1,
  .question-3 {
    margin-right: 0.75rem;
  }

  .question-2,
  .question-4 {
    margin-left: 0.75rem;
  }

  .user-persona-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .amita-persona-img {
    margin-right: 1rem;
  }

  .alex-persona-img {
    margin-left: 1rem;
  }

  .usability-testing-finding-1,
  .usability-testing-finding-2 {
    margin-top: 3rem;
  }

  .wireframe-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 8px;
}

.wireframe-img-1 {
    grid-column: span 4; /* This spans the image across all 5 columns */
}

.wireframe-img-2 {
    grid-row-start: 2;
}

.wireframe-img-3 {
    grid-row-start: 2;
}

.wireframe-img-4 {
    grid-row-start: 2;
}

.wireframe-img-5 {
    grid-row-start: 2;
}

}
